@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

body {
    background-color: #090c0e;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: 200;
    color: #64d86b;
}

a {
    font-family: 'Ubuntu Mono', monospace;
    font-weight: 200;
    color: #64d86b;
    text-decoration: underline;
}

b {
    font-weight: 1000;
}

.header {
    font-size: 45pt;
}

.links {
    line-height: 30px;
}

.content {
    font-size: 16pt;
}

.note {
    font-size: 8pt;
}

pwd {
    color:#090c0e;
}

.th1 {
    text-align: left;
}

.th2 {
    text-align: top;
    padding-left: 80pt;
    padding-right: 0pt;
    padding-top: 5pt;
    margin-top: 5pt;
    margin-top: 10px;
    border-top: 5pt;
    justify-content: top;
    position: absolute;
    top: 50px;
}
